[Unit]
Description=Connect to bluetooth speaker
Requires=wireplumber.service
After=wireplumber.service

[Service]
ExecStart=/usr/bin/bluetoothctl connect <speaker MAC here>
Restart=on-failure
RestartSec=15

[Install]
WantedBy=default.target
