[Unit]
Description=Run Dungeon Deck
Wants=btconnect.service

[Service]
ExecStart=/usr/local/bin/dungeon-deck /path/to/dungeon.toml

[Install]
WantedBy=default.target
