[Unit]
Description=Run Dungeon Deck
Requires=btconnect.service
After=btconnect.service

[Service]
ExecStart=/usr/local/bin/dungeon-deck /path/to/dungeon.toml > /path/to/dungeon-deck.log

[Install]
WantedBy=default.target
